<header class="header-main">
    <svg viewbox="0 0 50 25" xmlns="http://www.w3.org/2000/svg">
        <text x="0" y="15" font-family="Montserrat" font-size="15">
            SPOTS
        </text>
    </svg>
    <a href="/about/">
        <svg class="button" viewbox="0 0 50 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 2 L50 2" fill="none" stroke="black" stroke-width="4"/>
            <path d="M0 10 L50 10" fill="none" stroke="black" stroke-width="4"/>
            <path d="M0 18 L50 18" fill="none" stroke="black" stroke-width="4"/>
        </svg>
    </a>
</header>