<div id="menu" class="layer layer__popup">

    <div class="popup">

            <a class="popup__close" href="#">
                <svg class="close" width="30" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 50" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M50 0 L0 50" fill="none" stroke="white" stroke-width="4"/>
                </svg>
            </a>

            <section class="page">

                <a class="page__logo" href="#">
                    <svg width="50" viewbox="0 0 50 15" xmlns="http://www.w3.org/2000/svg">
                        <text x="0" y="15" font-family="Montserrat" font-size="15" fill="#ffffff">
                            SPOTS
                        </text>
                    </svg>
                </a>

                <a class="page__hamburger" href="#menu">
                    <svg class="button" width="50" viewbox="0 0 50 25" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2 L50 2" fill="none" stroke="white" stroke-width="4"/>
                        <path d="M0 10 L50 10" fill="none" stroke="white" stroke-width="4"/>
                        <path d="M0 18 L50 18" fill="none" stroke="white" stroke-width="4"/>
                    </svg>
                </a>

                <div class="page__content">
                    <nav class="menu menu__primary">
                        <ul>
                            {% for menu_item in site.data.menu.primary %}
                            <li><a data-slug="{{ menu_item.slug }}" href="#{{ menu_item.slug }}">{{ menu_item.title[include.lang] }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>

                    <nav class="menu menu__lang">
                        <ul>
                            {% for lang in site.data.langs %}
                            <li><a class="lang__button" data-lang="{{ lang.slug }}" href="{{ '/' | append: lang.slug | append: '/spots/' | append: include.current_spot.slug | append: '/#menu' | relative_url }}">{{ lang.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>

                    <nav class="menu menu__secondary">
                        <ul>
                            {% for menu_item in site.data.menu.secondary %}
                            <li><a data-slug="{{ menu_item.slug }}" href="#{{ menu_item.slug }}">{{ menu_item.title[include.lang] }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>

            </section>

    </div>
</div>