<div id="menu" class="layer layer__info">

    <div class="info__panel">

            <a class="menubutton" style="text-align: center;" href="#menu">
                <svg style="display:  block; margin: 0 auto;" class="button" width="50" viewbox="0 0 50 25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2 L50 2" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M0 10 L50 10" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M0 18 L50 18" fill="none" stroke="white" stroke-width="4"/>
                </svg>
            </a>

            <a class="close" href="#" style="position:absolute; top:10px; right: 10px;">
                <svg class="close" width="30" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 50" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M50 0 L0 50" fill="none" stroke="white" stroke-width="4"/>
                </svg>
            </a>

        <h1 style="display: none; font-size: 100px;">SPOTS</h1>

        <div class="info__panel__scrollable">

                <div class="page page--{{ include.page.slug }} content--{{ include.page.lang }}">

                    <p>
                        <nav class="main-menu">
                            <ul>
                                {% for menu_item in site.data.menu.top %}
                                <li><a href="#{{ menu_item.slug }}">{{ menu_item.title[include.lang] }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </p>

                    <p>
                        <nav class="lang-menu">
                            <ul>
                                <li><a href="/de/spots/{{ include.current_spot.slug }}/">Deutsch</a></li>
                                <li><a href="/tr/spots/{{ include.current_spot.slug }}/">Türkisch</a></li>
                                <li><a href="/en/spots/{{ include.current_spot.slug }}/">English</a></li>
                            </ul>
                        </nav>
                    </p>

                    <p>
                        <nav class="bottom-menu">
                            <ul>
                                {% for menu_item in site.data.menu.bottom %}
                                <li><a href="#{{ menu_item.slug }}">{{ menu_item.title[include.lang] }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </p>
                </div>

        </div>
    </div>
</div>