<div id="{{ include.page.slug }}" class="layer layer__popup">

    <div class="popup">

            <a class="popup__close" href="#">
                <svg class="icon icon__close" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#button-close"></use>
                </svg>
            </a>

            <section class="page content-page" data-slug="{{ include.page.slug }}">

                <div class="page__header">
                    <a class="button" href="#menu">
                        <svg class="icon icon__logo" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#spots-logo"></use>
                        </svg>
                        <svg class="icon icon__menu" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#menu-icon"></use>
                        </svg>
                    </a>
                </div>

                <!--<div class="page__title">
                    <h2>{{ include.page.title }}</h2>
                </div>-->

                <div class="page__content">
                    {{ include.page.content | markdownify }}
                </div>

            </section>

    </div>
</div>