<div id="{{ include.page.slug }}" class="layer layer__popup">

    <div class="popup">

            <a class="popup__close" href="#">
                <svg class="close" width="20" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 50" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M50 0 L0 50" fill="none" stroke="white" stroke-width="4"/>
                </svg>
            </a>

            <section class="page content-page" data-slug="{{ include.page.slug }}">

                <a class="button" href="#menu">
                    <svg class="icon icon__logo" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#spots-logo"></use>
                    </svg>
                    <svg class="icon icon__menu" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#menu-icon"></use>
                    </svg>
                </a>

                <!--<div class="page__title">
                    <h2>{{ include.page.title }}</h2>
                </div>-->

                <div class="page__content">
                    {{ include.page.content | markdownify }}
                </div>

            </section>

    </div>
</div>