<div id="{{ include.page.slug }}" class="layer layer__popup">

    <div class="popup">

            <a class="popup__close" href="#">
                <svg class="close" width="30" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 50" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M50 0 L0 50" fill="none" stroke="white" stroke-width="4"/>
                </svg>
            </a>

            <section class="page content-page" data-slug="{{ include.page.slug }}">

                <a class="page__logo" href="#">
                    <svg width="60" viewbox="0 0 50 20" xmlns="http://www.w3.org/2000/svg">
                        <text x="0" y="15" font-family="Montserrat" font-weight="600" font-size="12.6" letter-spacing="2" fill="white">
                            SPOTS
                        </text>
                    </svg>
                </a>

                <a class="page__hamburger" href="#menu">
                    <svg class="button" width="60" viewbox="0 0 40 14" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1 L40 1" fill="none" stroke="white" stroke-width="2"/>
                        <path d="M0 7 L40 7" fill="none" stroke="white" stroke-width="2"/>
                        <path d="M0 13 L40 13" fill="none" stroke="white" stroke-width="2"/>
                    </svg>
                </a>

                <!--<div class="page__title">
                    <h2>{{ include.page.title }}</h2>
                </div>-->

                <div class="page__content">
                    {{ include.page.content | markdownify }}
                </div>

            </section>

    </div>
</div>