  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

    <symbol id="spots-logo" viewbox="0 0 50 25">
        <title>SPOTS</title>
        <text x="0" y="15" font-family="Montserrat" font-size="15">SPOTS</text>
    </symbol>

    <symbol id="menu-icon" viewbox="0 0 50 25">
        <title>Menu</title>
        <path d="M0 2 L50 2" fill="none" stroke="black" stroke-width="4"/>
        <path d="M0 10 L50 10" fill="none" stroke="black" stroke-width="4"/>
        <path d="M0 18 L50 18" fill="none" stroke="black" stroke-width="4"/>
    </symbol>

  </svg>