<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

  <symbol id="spots-logo" viewbox="0 0 50 25">
      <title>SPOTS</title>
      <text x="0" y="15" font-family="Montserrat" font-weight="600" font-size="12.6" letter-spacing="2">
          SPOTS
      </text>
  </symbol>

  <symbol id="menu-icon" viewbox="0 0 40 14">
      <title>Menu</title>
      <path d="M0 1 L40 1" fill="none" stroke-width="2"/>
      <path d="M0 7 L40 7" fill="none" stroke-width="2"/>
      <path d="M0 13 L40 13" fill="none" stroke-width="2"/>
  </symbol>

  <symbol id="button-prev" viewbox="0 0 25 50">
      <title>Previous</title>
      <path d="M23 2 L2 25 L23 48" fill="none" stroke="black" stroke-width="3"/>
  </symbol>

  <symbol id="button-next" viewbox="0 0 25 50">
      <title>Next</title>
      <path d="M2 2 L23 25 L2 48" fill="none" stroke="black" stroke-width="3"/>
  </symbol>

  <symbol id="button-play" viewbox="0 0 43 50">
      <title>Play</title>
      <path d="M0 0 L43 25 L0 50" fill="black" stroke="none"/>
  </symbol>

  <symbol id="button-close" viewbox="-5 -5 60 60">
      <title>Close</title>
      <path d="M0 0 L50 50" fill="none" stroke="white" stroke-width="4"/>
      <path d="M50 0 L0 50" fill="none" stroke="white" stroke-width="4"/>
  </svg>

</svg>