$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.3;

$serif: 'Bitter', Georgia, serif;
$sans-serif: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$title-size-large:  44px;
$title-size-small:  5.5vmin;

$scrollbar-foreground-color: #fff;
$scrollbar-background-color: #999;
$scrollbar-size: 8px;