$serif: 'Bitter', Georgia, serif;
$sans-serif: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

$scrollbar-foreground-color: #fff;
$scrollbar-background-color: #999;
$scrollbar-size: 8px;

$transition-in: opacity .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
$transition-out: opacity .4s cubic-bezier(0.215, 0.61, 0.355, 1);