.icon {
    &__logo {
        fill: #000;
        @include scale-icons(60px, 30px);
    }

    &__menu {
        stroke: #000;
        @include scale-icons(60px, 21px);
    }

    &__prev,
    &__next {
        stroke: #000;
        @include scale-icons(25px, 50px);
    }

    &__play {
        fill: #000;
        @include scale-icons(43px, 50px);
    }

    &__close {
        stroke: #fff;
        @include scale-icons(25px, 25px);
    }

    &__facebook,
    &__twitter {
        fill: #fff;
        @include scale-icons(30px, 30px);
    }
}

.popup {
    .icon {
        &__logo,
        &__play {
            fill: #fff;
        }

        &__menu,
        &__prev,
        &__next,
        &__close {
            stroke: #fff;
        }
    }
}