*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
    /* Add correct display for IE 9- and some newer browsers */
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
}

.root {
    position: relative;
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;

    &__background {
        background: url(../images/01.jpg) center center/cover no-repeat fixed;
    }

    &__background-overlay {
        background: #000;
        opacity: .4;
        transition: 1s;

        &--dark {
            opacity: 1;
            transition: .4s;
        }
    }

    &__spots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__popup {
        display: none;

        &:target {
            display: block;
        }
    }

    &__video {
        display: none;
        background: rgba(0,0,0,.8);

        &--playing {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}