.menu {
    margin: 2em 0;
    font-size: 1.3em;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    
    a {
        font-family: $sans-serif;
        text-decoration: none;
    }

    &__secondary {
        a {
            text-decoration: underline;
        }
    }
}
