.menu {
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;

    letter-spacing: 0.5px;

    text-align: center;
    
    a {
        font-family: $sans-serif;
        text-decoration: none;
    }

    &__secondary {
        a {
            text-decoration: underline;
        }
    }
}
