.spots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vmin;
    height: 85vmin;
    border-radius: 85vmin;
    background: #fff;

    @include small {
        width: 80vmin;
        height: 80vmin;
        border-radius: 80vmin;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 0%;

        svg {
            display: block;
        }
    }

    &__slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        flex: 1 1 0%;
        
        width: 100%;
        max-width: 100%;
        // height: 100%;
        // max-height: 100%;
        padding: 0 5vmin;
    }

    &__slides {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        flex: 1 1 auto;

        width: 100%;
        // Fix flex bug with IE10-11
        // see https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container
        max-width: 100%;

        @at-root .spot {
            display: none;
            flex: 1 1 auto;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            // Fix flex bug with IE10-11
            max-width: 100%;

            &__title {
                flex: 1 1 auto;
                width: 100%;
                // Fix flex bug with IE10-11
                max-width: 100%;
                padding: 2rem;
            }
            
            &--active {
                display: flex;
                opacity: 1;
                transition: $transition-in;
            }
        }
    }

    &__nav {
        z-index: 150;
        flex: 0 0 auto;
    }
}

#spots__play {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

.spots__nav,
#spots__play {
    transition: $transition-in;
    opacity: 1;
    
    &:hover{
        opacity: .5;
        transition: none;
    }
}

body.fade {

    .spots__nav,
    #spots__play {
        opacity: 0;
        transition: $transition-out;
    }

    .spot--active {
        opacity: 0;
        transition: $transition-out;
    }

    .layer__background-overlay {
        opacity: 1;
        transition: $transition-out;
    }
}