html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $serif;
    font-weight: 400;
    line-height: 1.4;
    
    @include scale-fonts(1.8);
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
}

h1, h2 {
    font-family: $sans-serif;
}

h1 {
    @include scale-fonts(4);
}

h2 {
    @include scale-fonts(3);
}

h3 {
    @include scale-fonts(2.7);
}

h4 {
    @include scale-fonts(2.3);
}

h5 {
    @include scale-fonts(2);
}

h6 {
    @include scale-fonts(1.8);
}

p {
    margin-bottom: 28px;
    margin-bottom: 2.8rem;
}

a,
a:visited {
    text-decoration: none;
    color: #fff;

    &:hover {
        opacity: .5;
    }
}

.center {
    text-align: center;
}