<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}
{% include svg.html %}

{% assign spots_collection = 'spots_' | append: page.lang %}
{% assign spots = site[spots_collection] %}

{% assign spots_collections = 'spots_de,spots_en,spots_tr' | split: ',' %}
{% if spots_collections contains page.collection %}
    {% assign current_spot = page %}
{% else %}
    {% assign current_spot = spots.first %}
{% endif %}

<body>

    <div class="root">

        <div id="layer__background" class="layer layer__background">
            {% for spot in spots %}
            <div id="background__{{ spot.slug }}" class="background{% if spot.slug == current_spot.slug %} background--active{% endif %}" style="background: url({{ '/images/' | append: spot.slug | append: '.jpg' | relative_url }}) no-repeat center center / cover fixed;" data-slug="{{ spot.slug }}"></div>
            {% endfor %}
        </div>

        <div id="layer__background-overlay" class="layer layer__background-overlay">
        </div>

        <div class="layer layer__spots">

            <main class="spots" aria-label="Content">

                <header class="spots__header">
                    <a class="button" href="#menu">
                        <svg class="icon icon__logo" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#spots-logo"></use>
                        </svg>
                        <svg class="icon icon__menu" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#menu-icon"></use>
                        </svg>
                    </a>
                </header>

                <section class="spots__slider">
                    <div id="spots" class="spots__slides">
                        {% for spot in spots %}
                        <div class="spot{% if spot.slug == current_spot.slug %} spot--active{% endif %}" data-slug="{{ spot.slug }}">
                            <h2 class="spot__title">{{ spot.title }}</h2>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="spots__nav--prev" class="spots__nav">
                        {% if page.previous %}
                            {% assign previous_spot = page.previous %}
                        {% else %}
                            {% assign previous_spot = spots.last %}
                        {% endif %}
                        <a href="{{ previous_spot.url | relative_url }}">
                            <svg class="icon__prev" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#button-prev"></use>
                            </svg>
                        </a>
                    </div>

                    <div id="spots__nav--next" class="spots__nav">
                        {% if page.next %}
                            {% assign next_spot = page.next %}
                        {% else %}
                            {% assign next_spot = spots.first.next %}
                        {% endif %}
                        <a href="{{ next_spot.url | relative_url }}">
                            <svg class="icon__next" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#button-next"></use>
                            </svg>
                        </a>
                    </div>
                </section>

                <a id="spots__play" href="http://www.youtube.com/watch?v={{ current_spot.youtube_id }}">
                    <svg class="icon__play" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#button-play"></use>
                    </svg>
                </a>

            </main>

        </div>

        {% include menu.html lang=page.lang current_spot=current_spot %}

        {% assign pages_collection = 'pages_' | append: page.lang %}
        {% for ppage in site[pages_collection] %}
            {% include page.html page=ppage %}
        {% endfor %}

        <div class="layer layer__video">
            <a id="video__close" class="popup__close" href="#">
                <svg class="close" width="30" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 50" fill="none" stroke="white" stroke-width="4"/>
                    <path d="M50 0 L0 50" fill="none" stroke="white" stroke-width="4"/>
                </svg>
            </a>
        </div>        

    </div>

<script src="{{ '/assets/scripts/main.js' | relative_url }}"
        async
        defer></script>

</body>

</html>