<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}
{% include svg.html %}

{% if page.lang %}
    {% assign lang = page.lang %}
{% else %}
    {% assign lang = 'de' %}
{% endif %}


{% if page.is_video %}
    {% assign is_video = true %}
{% elsif page.url == "/" %}
    {% assign is_video = true %}
{% endif %}

{% unless is_video %}
    {% assign show_info = true %}
{% endunless %}

{% assign image_url = '/images/' | append: current_video.slug | append: '.jpg' %}
{% assign image_url = '/images/01.jpg' %}

<style>
.layer__background {
    background: url({{ image_url | relative_url }}) no-repeat center center fixed; 
}
</style>

<body>

    <div class="site">

        <div class="layer layer__background">
        </div>

        <div class="layer layer__background-overlay">
        </div>

        {% if is_video %}
            {% include content.html %}
        {% endif %}

        {% include info.html visible=show_info %}

    </div>

<script src="assets/scripts/main.js"
        async
        defer></script>

</body>

</html>