---
layout: default
---

<!--<section class="slider">
    <div class="slides">

        {% assign videos = site.videos | sort: 'id' %}
        {% for video in videos limit:1 %}

        <div class="slide slide__active" data-url="">
            <h2 class="slide__title">{{ video.title_de }}</h2>
        </div>

        {% endfor %}
    </div>
    <div class="button arrow arrow--prev">
        <svg height="40" viewbox="0 0 25 50" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 2 L2 25 L23 48" fill="none" stroke="black" stroke-width="3"/>
        </svg>
    </div>
    <div class="button arrow arrow-next">
        <svg height="40" viewbox="0 0 25 50" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2 L23 25 L2 48" fill="none" stroke="black" stroke-width="3"/>
        </svg>
    </div>
</section>

<section class="video-control">
    <svg width="40"viewbox="0 0 43 50" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L43 25 L0 50" fill="black" stroke="none"/>
    </svg>
</section>-->